*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea

# exclude big data files, include only compressed versions
data/data_raw.json
target/test-classes/data_raw.json